

  <form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">企业十位编码</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  placeholder="4401986999" [(ngModel)]="_selectedAccount.TRADE_CO">
    </div>
  </div>
  <div class="form-group">
    <label for="" class="col-sm-2 control-label">联系人手机</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" [(ngModel)]="_selectedAccount.CONTACT_MOBILE" placeholder="13600200500">
    </div>
    <label for="" class="col-sm-2 control-label">法人手机</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" [(ngModel)]="_selectedAccount.LAW_MAN_MOBILE" placeholder="13600200500">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="creating" (click)="setMobile()">
        <span class="glyphicon glyphicon-refresh glyphicon-rotate" [style.visibility]="creating ? 'visible':'hidden'"></span>
        更新联系人信息
      </button>
    </div>

  </div>
</form>

  <div class="information">
    <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" dismissible="true" dismissOnTimeout="4000" (close)="closeAlert(i)">
    {{ alert?.message }}
    </alert>
  </div>

<div id="print-area">
  <h4>企业信息</h4>
  <table>
    <tbody>
      <tr>
        <td class="head">企业编码</td>
        <td>{{_selectedAccount.TRADE_CO}}</td>
        <td class="head">公司名称</td>
        <td>{{_selectedAccount.FULL_NAME}}</td>
      </tr>
      <tr>
        <td class="head">组织机构代码</td><td>{{_selectedAccount.COP_GB_CODE}}</td>
        <td class="head">社会信用代码</td><td>{{_selectedAccount.SOCIAL_CREDIT_CODE}}</td>
      </tr>
      <tr>
        <td class="head">联系人</td><td>{{_selectedAccount.CONTAC_CO}}</td>
        <td class="head">联系人手机</td><td>{{_selectedAccount.CONTACT_MOBILE}}</td>
      </tr>
      <tr>
        <td class="head">法人</td><td>{{_selectedAccount.LAW_MAN}}</td>
        <td class="head">法人手机</td><td>{{_selectedAccount.LAW_MAN_MOBILE}}</td>
      </tr>
    </tbody>
  </table>
</div>
